:root {
  --blue: #025568;
  --green: #70e1bd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  color: var(--green);
  font-family: sans-serif, Arial;
  margin: 0;
  padding: 0;
}

image {
  border-radius: 10px;
  height: auto;
}
.hero.is-primary {
  background-color: var(--blue);
}

.hero.is-info {
  background-color: var(--green);
}

header {
  padding: 20px 35px;
  background-color: #024e76;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

section {
  padding: 70px;
}
